body {
    background-color: #fff;
}

#main-navbar {
    background-color: blue;
    overflow: hidden;
    /* EXPERIMENTAL */
}

#main-navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: block;
}

#navbar-container {
    width: 100%;
    position: relative;
    text-align: center;
    display: block;
    /* EXPERIMENTAL */
}

#navbar-container ul li {
    list-style-type: none;
    /* EXPERIMENTAL */
}

#navbar-container ul li a {
    display: block;
}

#onpage {
    color: #000;
    text-decoration: underline overline;
    /* EXPERIMENTAL */
}


/* SIDEBAR HANDLING */
#sidebar-container {
    background-color: red;
    position: fixed;
    /* EXPERIMENTAL */
    right: 0;
    height: 100%;
    width: 20%;
    text-align: center;
}

#sidebar-container ul {
    list-style-type: none;
}
